<html>

<head>
    Payments
</head>

<body>
    <form action="https://us-central1-prakarshweb.cloudfunctions.net/app/api/payment_checkout" method="post">
        userid:<br>
        <input type="text" name="userid">
        <br> events:<br>
        <input type="checkbox" name="events[]" value="1OOxETZGMdtsYGiGGVl0"> pubg 100rs<br>
        <input type="checkbox" name="events[]" value="acAbe45gNXlH9Ot3Utt8"> workshop 1000rs<br>
        <input type="checkbox" name="events[]" value="xKDch3SqSPRmDzpvefsp"> fungames 250rs<br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>